@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

ul {
  list-style-type: none;
  font-size: 16px;
  display: flex;
  gap: 14px;
  margin: 0;
  padding: 16px;
}

a:link {
  text-decoration: none;
  color: black;
}

.header {
  display: flex;
  justify-content: space-between;
}

.buttons {
  display: flex;
  gap: 6px;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  background-color: rgb(230, 226, 226);
  display: flex;
  justify-content: space-between;
  /* padding: 16px; */
}
